*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 300px;
    width: 550px;
    border: 1px solid red;
    position: relative;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0 5px 7px grey;
}

img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -25%;
    transform: translateX(-50%);
}

.content{
    font-size: 24px;
    padding: 50px 20px;
}

.name{
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    padding: 0px 20px;
}