@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    height: 40px;
    text-decoration: none;
    padding-top: 50px;
}

.hamburgers{
    display: none;
}

.hamburgers .lin{
    height: 2px;
    width: 15px;
    display: block;
    background-color: black;
    /* border: 1px solid blue; */
    margin: 2px 250px;
}


.rollins{
    margin-right: 40px;
    color: black;
    text-decoration: none;
}

.seth{
    display: flex;
    list-style: none;
    text-decoration: none;
    padding-bottom: 30px;
}

.seth:hover{
    background-color: transparent;
    color: orange;
}
.logo-1{
    width: 199px;
    height: 59px;
    padding-bottom: 20px;
}

.food-1{
    background-image: url(./images/background1.svg);
    height: 430px;
    width: 98.5vw;
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 40px;
}

.best{
    font-size: 13px;
    position: absolute;
    top: 110px;
    left: 670px;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.meal{
    font-size: 24px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 540px;
}


.here{
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 230px;
    right: 470px;
}

button{
    height: 50px;
    width: 120px;
    color: white;
}

.button-1{
    background-color: orange;
    margin: 30px;
    border-radius: 20%;
    position: absolute;
    top: 250px;
    left: 550px;
}

.button-2{
    background-color: transparent;
    margin: 30px;
    border-radius: 20%;
    position: absolute;
    top: 250px;
    left: 680px;
}

.group-img{
    width: 548px;
    height: 640px;
    display: block;
    justify-content: center;
    position: absolute;
    top: 200px;
    left: 345px;
}

.small-line{
    background-color: rgba(128, 128, 128, 0.247);
    display: block;
    margin-top: 0, 5em;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
    height: 2px;
    width: 50%;
    position: relative;
    top: 550px;
    left: 20px;
}

.small-word{
    position: absolute;
    top: 1070px;
    left: 600px;
}

.sign-up{
    display: flex;
    justify-content: center;
}

.signup-img{
    position: absolute;
    left: 60px;
    top: 1100px;
}

.signup-1{
    position: absolute;
    top: 1350px;
    left: 700px;
    color: orange;
    font-size: 24px;
}

.signup-2{
    position: absolute;
    top: 1390px;
    right: 320px;
    font-size: 24px;
}

.signup-3{
    position: absolute;
    top: 1470px;
    left: 700px;
}

.delly-img{
    display: flex;
    justify-content: center;
}

.delly-a{
    position: absolute;
    top: 2000px;
    left: 200px;
    color: orange;
    font-size: 24px;
}

.delly-b{
    position: absolute;
    top: 2050px;
    left: 200px;
    font-size: 24px;
}

.delly-c{
    position: absolute;
    top: 2130px;
    left: 200px;
}

.delly-d{
    position: absolute;
    top: 1800px;
    right: 200px;
}

.payments{
    display: flex;
    justify-content: center;
}

.pays-1{
    position: absolute;
    top: 2530px;
    left: 80px;
}

.pays-2{
    position: absolute;
    top: 2750px;
    left: 750px;
    color: orange;
    font-size: 24px;
}

.pays-3{
    position: absolute;
    top: 2790px;
    left: 750px;
    font-size: 24px;
}

.pays-4{
    position: absolute;
    top: 2870px;
    left: 750px;
}

.bag{
    background-image: url(./images/low.svg);
    height: 430px;
    width: 98.5vw;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 3400px;
}

.rap{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
    right: 470px;
    color: white;
    font-size: 24px;
}
.able{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 150px;
    right: 345px;
    color: white;  
}

.orange{
    background-color: orange;
    border-radius: 20%;
    padding: 18px 31px 18px 31px;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 250px;
    right: 700px;
}

.white{
    border: 1px;
    border-color: white;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    padding: 16px 45px 16px 45px;
    position: absolute;
    top: 250px;
    right: 500px;
}

.end{
    width: 1500px;
    height: 200px;
    background-color: white;
    padding: 25px 80px;
    display:flex;
    position: absolute;
    top: 3800px;
    right: 0px;
}

.logo-2{
    padding-left: 250px;
    padding-top: 30px;
}

.X-1{
    padding-top: 80px;
    padding-left: 200px;
}

.Fb{
    padding-top: 80px;
    padding-left: 30px;
}

.iG{
    padding-top: 82px;
    padding-left: 30px;
}

/* Small devices(mobile phones) */
@media only screen and (max-width: 600px){
    .hamburgers{
        display: block;
        margin-top: -10px;
        padding-left: 60px;
    }
    .seth{
        display: none;
    }
    .food-1{
        background-image: none;
        flex-direction: column;
    }
    .best{
        display: flex;
        text-align: center;
        color: black;
        position: relative;
        bottom: 500px;
        right: 400px;
        font-size: 10px;
    }
}
